---
import { getPosts, getCategory } from "../../scripts/utils";
const posts = await getPosts("posts");
const categorys = getCategory(posts);
const categoryCnt = (category) => {
  const length = posts.filter((post) => post.data.category === category).length;
  return length;
};
---

<div class="category">
  <h3>Categorys</h3>
  <ul>
    <a href="/"><li>전체 ({posts.length})</li></a>
    {
      categorys.map((category) => (
        <a href={`/category/${category}`}>
          <li>
            {category} ({categoryCnt(category)})
          </li>
        </a>
      ))
    }
  </ul>
</div>
<style>
  .category {
    position: sticky;
    top: 100px;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 30px;
    font-size: 0.9em;
    text-align: left;

    h3 {
      margin: 0;
      padding-bottom: 5px;
      padding-left: 8px;
      font-size: 1.3em;
    }

    ul {
      padding: 0;
      /* padding-right: 30px; */
    }
  }

  .category > ul > a > li {
    padding: 5px 20px 5px 10px;
    margin-top: 5px;
    border-radius: 10px;
  }

  .category > ul > a > li::marker {
    content: "";
  }
</style>
