---
const { post } = Astro.props;

// headline 요소 추출
const body = post.body.split(/\r?\n/);
const isHead = (e) => {
  return e.charAt(1) === " " || e.charAt(2) === " ";
};
const headLine = body.filter((e) => isHead(e) && e.startsWith("#"));
---

<div class="toc container" data-body={headLine}></div>

<script src="../../scripts/toc.js"></script>
<style>
  .toc.container {
    position: sticky;
    top: 100px;

    ul {
      padding-left: 30px;
    }

    li {
      margin-bottom: 4px;
    }

    ul > li::marker {
      content: "";
    }

    .toc.ul > li > a {
      font-size: 0.9em;
    }

    ul > li.selected > a {
      font-weight: bold;
    }
  }
</style>
