---
import { getBody } from "../../scripts/utils";
const { post } = Astro.props;
let temp_toc = getBody(post);
---

<div class="toc container">
  <Fragment class="toc" set:html={temp_toc} />
</div>

<script src="../../scripts/toc.js"></script>
<style>
  .toc.container {
    position: sticky;
    top: 100px;

    ul {
      padding-left: 30px;
    }

    li {
      margin-bottom: 4px;
    }

    ul > li::marker {
      content: "";
    }

    .toc.ul > li > a {
      font-size: 0.9em;
    }

    ul > li.selected > a {
      font-weight: bold;
    }
  }
</style>
