---
const { post } = Astro.props;

// headline 요소 추출
const body = post.body.split(/\r?\n/);
const isHead = (e) => {
  return e.charAt(1) === " " || e.charAt(2) === " ";
};
const headLine = body.filter((e) => isHead(e) && e.startsWith("#"));
---

<div class="toc container" data-body={headLine}></div>

<script src="../../scripts/toc.js"></script>
<style>
  .toc.container {
    padding-top: 1px;
    position: sticky;
    top: 100px;
    display: flex;
    justify-content: center;

    li {
      margin-bottom: 4px;
      font-size: 0.99em;
    }

    ul {
      padding: 0;
      margin: 0;
      ul {
        padding: 0px;
        padding-left: 20px;
      }
    }

    ul > li::marker {
      content: "";
    }

    .toc.ul > li > a {
      font-size: 0.9em;
    }

    ul > li > a {
      color: grey;
    }

    ul > li.selected > a {
      font-weight: bold;
    }
  }
</style>
