.dark {
  color-scheme: dark;
  body {
    color: #fafafa;
    background-color: #1b1b1b;

    ::selection {
      background-color: #c9a646;
    }

    a {
      color: #fafafa;
      text-decoration: none;
    }

    /* nav바, 로고, 게시글 제목 색상 애니메이션 */
    a:hover {
      /* 다크모드 색상 */
      #rainbow {
        background: repeating-linear-gradient(
          -70deg,
          #1a2980,
          #1976d2,
          #2024ad,
          #4a00e0,
          #9723c9,
          #8e2de2,
          #1a2980 75%
        );
        background-size: 450%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-name: rainbowColor;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }

    /* Header.astro */
    .header {
      background: rgb(27, 27, 27, 0.95);
      #theme-button {
        background-image: url("/lightmode.svg");
      }

      @media (hover: hover) and (pointer: fine) {
        #theme-button:hover {
          background-color: #3d3d3d;
        }
      }

      #theme-button:active {
        background-color: #3d3d3d;
      }
    }

    /* PageList.astro */
    .banner {
      background-image: url("https://simlog.life/darkbanner.webp");
      background-position: 0% 60%;
    }
    .post-container {
      .post-item {
        border-color: #414141;

        .date {
          color: lightgray;
        }
      }
    }

    /* PageNavigator */
    .page-navigator-container {
      .arrow.unavailable {
        color: #414141;
      }
    }

    /* Footer.astro */
    .footer {
      color: #fafafa;
    }

    /* Toc.astro */
    ul > li.selected > a {
      color: #79b8ff !important;
    }

    /* Category.astro */
    .category > ul > a > li:hover {
      background-color: #121212;
    }

    /* Comment.astro */
    .comment-container {
      h2 {
        border-color: #414141;
      }
    }

    .light-comment {
      display: none !important;
    }

    .dark-comment {
      display: block !important;
    }

    /* markdown */
    .markdown {
      color: #fafafa;

      h1 {
        border-color: #414141;
      }

      .astro-code {
        background-color: #121212 !important;
        ::selection {
          background-color: transparent;
          color: #c9a646;
        }
      }

      p,
      ol,
      ul,
      blockquote {
        code {
          background-color: #414141;
          color: #79b8ff;
        }
      }

      blockquote {
        color: #a3ecff; /* 텍스트 색상 - 밝은 시안 */
        background-color: #1a2e35; /* 배경 색상 - 어두운 블루/그린 */
        border-color: #296d73;
      }

      hr {
        background-color: #414141;
      }

      table {
        border: 1px solid #414141;
      }

      thead {
        border-bottom: 2px solid #414141;
      }

      tr {
        display: table-row;
        border: 1px solid #414141;
      }

      th {
        border: 1px solid #414141;
      }

      td {
        border: 1px solid #414141;
      }
    }
  }
}
