html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fafafa;
  /* Font */
  font-family: "Gowun Dodum", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

.footer {
  min-height: 300px;
}

.nav-container,
.page-nav-container,
.post-container,
/* .container, */
.main,
.footer {
  margin-left: auto;
  margin-right: auto;
}

@keyframes rainbowColor {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

/* media query */
/* 280~674 */
@media (min-width: 0px) {
  html {
    font-size: 15px;
  }
  .nav-container,
  .page-nav-container,
  .post-container,
  main,
  .footer {
    width: 95%;
  }
  .aside {
    display: none;
  }

  .page.container,
  .home.container,
  .category.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 674px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .nav-container,
  .page-nav-container,
  main {
    width: 788px;
  }

  .markdown {
    width: 768px;
  }
}

/* 1024~ */
@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1350px) {
  .aside {
    display: unset;
  }
}
