.markdown {
  /* padding: 15px 10px 0px 10px; */
  min-height: 200px;
  
  code,
  .astro-code {
    font-family: "Gowun Dodum", sans-serif;
  }

  * {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
    scroll-margin-top: 80px;
  }

  h1 {
    margin-bottom: 25px;
    font-weight: bold !important;
    border-bottom: 3px solid;
    font-size: 1.72em;
  }

  h2 {
    font-size: 1.38em;
  }

  h3 {
    font-size: 1.27em;
  }

  h4 {
    font-size: 1.17em;
  }

  /* h5는 예시 코드 설명란으로 사용 */
  h5 {
    font-size: 1.05em;
    margin-top: 15px;
  }

  h6 {
    font-size: 0.94em;
  }

  .astro-code {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.9em;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
  }

  p {
    line-height: 1.6;
  }

  p,
  ol,
  ul,
  blockquote {
    code {
      border-bottom: 3px solid;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    border-bottom: 3px solid #f6e199;
  }
  a:visited {
    text-decoration: none;
  }

  ul,
  ol {
    padding-left: 22px;
  }

  ul > li::marker {
    content: "- ";
  }

  blockquote {
    border-left: 5px solid;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  hr {
    margin-top: 25px;
    background-color: #e0e0e0;
    border-color: transparent;
  }
}
