---

---

<header class="header">
  <div class="nav-container">
    <a href="/" class="logo">sim.log</a>
    <nav class="nav">
      <a href="/about">about</a>
      <a href="/category">category</a>
    </nav>
  </div>
</header>

<style>
  .header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0.95;
    /* margin-bottom: 30px; */
    padding-top: 15px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    border-bottom: 2px solid whitesmoke;

    user-select: none;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .nav {
    margin-left: auto;
    font-size: 21px;
  }

  .logo {
    font-size: 30px;
    font-weight: 600;
  }

  a:hover,
  a:active {
    background: linear-gradient(
      -45deg,
      #43ff2a,
      #ffc52a,
      #ff7a2a,
      #ff2a2a,
      #e82aff,
      #6b2aff,
      #202082,
      #2a89ff,
      #43ff2a,
      #ffc52a,
      #ff7a2a,
      #ff2a2a
    );
    background-size: 500%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: rainbowColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
</style>
