---

---

<header class="header">
  <div class="nav-container">
    <a href="/" class="logo"><span id="rainbow">sim.log</span></a>
    <nav class="nav">
      <!-- <a href="/404"><span id="rainbow">about</span></a> -->
      <!-- <a href="/404"><span id="rainbow">category</span></a> -->
    </nav>
    <div id="theme-button"></div>
  </div>
</header>

<script src="../scripts/theme.js"></script>

<style>
  .header {
    max-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-top: 1.45vmin;
    padding-bottom: 0.7vmin;
    margin-bottom: 10px;
    user-select: none;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav {
    margin-left: auto;
    font-size: 1.16em;
  }

  .logo {
    font-size: 1.5em;
    font-weight: 600;
  }

  #theme-button {
    display: inline-block;
    margin-left: 5px;
    width: 24px;
    height: 24px;
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 5px;
    padding: 5px;
  }
</style>
