---
import { base } from "../utils/utils.js";
---

<header class="header">
  <div class="nav-container">
    <a href=`/${base}` class="logo">sim.log</a>
    <nav class="nav">
      <a href=`/${base}/404`>about</a>
      <a href=`/${base}/404`>category</a>
    </nav>
  </div>
</header>

<style>
  .header {
    max-width: 100vw;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    opacity: 0.95;
    padding-top: 1.38vmin;
    padding-bottom: 0.64vmin;
    margin-bottom: 10px;
    border-bottom: 2px solid #eef5f5;
    user-select: none;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .nav {
    margin-left: auto;
    font-size: 1.16em;
  }

  .logo {
    font-size: 1.5em;
    font-weight: 600;
  }
</style>
