---
import { ViewTransitions } from "astro:transitions";
import { defMeta } from "../utils/utils.js";
const { post } = Astro.props;

const meta = post === undefined ? defMeta : post.data;
---

<meta charset="utf-8" />
<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Meta Tags -->
<title>
  {meta.title !== "sim.log" ? meta.title + " | sim.log" : meta.title}
</title>

<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
  rel="stylesheet"
/>

<meta name="title" content={meta.title} />
<meta name="description" content={meta.description} />
<meta name="keyword" content={meta.keyword} />
<script async src="https://www.googletagmanager.com/gtag/js?id=TAG_ID"></script>
<!-- Global tag(gtag.js) -->
<script type="text/javascript" src="../utils/gtag.js"></script>
<ViewTransitions />
