---
import "../styles/global.css";
import "../styles/markdown.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { page } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <slot name="meta" />
  </head>
  <body>
    <Header/>
    <main class=`${page} container`>
      <slot name="main" />
      <slot name="page-navigator" />
      <slot name="page-nav" />
      <slot name="404" />
    </main>
    <Footer />
  </body>
</html>
