---
import "../styles/global.css";
import "../styles/markdown.css";
import "../styles/light.css";
import "../styles/dark.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Toc from "../components/aside/Toc.astro";

const { page } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <slot name="meta" />
  </head>
  <body>
    <Header />
    <slot name="banner" />
    <div class=`${page} container`>
      <slot name="aside-left" />
      <main>
        <slot name="main" />
        <slot name="page-nav" />
      </main>
      <slot name="aside-right" />
    </div>
    <slot name="page-navigator" />
    <slot name="404" />
    <Footer />
  </body>
</html>
